/* 1
    No arquivo style.css
    1.A     use o seletor button e defina as seguintes propriedades
    (de preferência leia e digite manualmente cada linha)

    border-radius: 10px;    -> Deixa os cantos arredondados
    border: none;           -> Remove as bordas que vêm padrão nos botoes
    width: 148px;           -> Muda a largura do botao para 148 pixels
    height: 53px;           -> Muda a altura do botao para 148 pixels
    color: #fff;            -> Muda a cor do texto para branco
    background-color: #007405;  -> Muda a cor de fundo do botao para verde
    
    font-size: 24px;        -> Muda o tamanho do texto para 24 pixels
    font-family: "Inter";   -> Muda a fonte para Inter

    1.B     Salve e veja no navegador

NOTA ->     Observer que ao usar o seletor button a mudança afetou
todos os botões
*/
