/* 1
    1.A     use o seletor .alinharCentro e defina

    display: flex;              -> Muda o layout para flex*
    justify-content: center;    -> Alinha horizontalmente ao centro 
    align-items: center;        -> Alinha vertcalmente ao centro

    1.B     use o seletor .mudarParaColuna e defina

    display: flex;
    flex-direction: column;     -> Elementos ficam um abaixo do outro
  
    1.C     Em index.html, em body, adicione a classe alinharCentro
    1.D     Em elementoQualquer e em segundoIrmao adicione as 2 classes
            alinharCentro e mudarParaColuna 
    1.E     Veja no navegador


NOTA -> Ao usar flex os alinhamentos serão aplicados aos elementos filhos
*/

/* 
    * O Layout flex permite usarmos certas propriedades
    como justify-content, align-items e flex-direction
*/

/* 2
    2.A     Use o seletor #elementoQualquer e defina

    gap: 130px      ->  Muda o espaço entre os elementos filhos para 130 pixels

    2.B     Use o seletor #outroIrmao e defina

    gap: 20px

    2.C     Use o seletor #filhoDoSegundo e defina

    margin-bottom: 100px;       ->  Muda o espaço abaixo da imagem 
                                    para 100 pixels
*/
