/* 1
    1.A     Use o seletor body e defina

    width: 100%;        ->  Largura (Toda a tela) 
    height: 100vh;      ->  Altura  (Toda a tela)

    background: linear-gradient(#87ceeb, #e0f6ff);  -> define o plano de fundo
    border-bottom: 30px solid #007405;  ->  Cria uma borda inferior verde

    overflow: hidden;   ->  Evita o comportamento de scroll
*/

/* 2
    2.A     Use o seletor #mario e defina

    position: absolute;     -> permite definir a posição exata na tela
    bottom: 30px;           -> Define a posição inferior como 30 pixels
    left: 100px;            -> Defnie a posição a esquerda como 100 pixels

    2.B     Use o seletor #cano e defina

    position: absolute;
    bottom: 30px;

    2.C     Use o seletor #nuvem e defina

    position: absolute;
    top: 50px;              -> Posição superior

OBS: Os elementos devem estar em uma posição um pouco estranha
para resolver isso basta colar o seguinte código ao fim do arquivo css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
*/

/* 3
    3.A     Remova as bordas vermelhas

    3.B     usando o seletor #elementoIrmao defina

    display: none       -> remove o elemento da tela

    3.C     Faça o mesmo para #segundoIrmao
*/

/* SE VOCÊ FEZ TUDO ATÉ AQUI, ENTÃO ESTÁ PRONTO PARA O PRÓXIMO NÍVEL */
