/* RESET + CSS PADRÃO */
* {
    margin: 0;
    padding: 0;

    font-size: 24px;
    font-family: "Inter";
    font-weight: 700;

    box-sizing: border-box;
}

/* BOTÃO PADRÃO */
button {
    border-radius: 10px;
    border: none;
    width: 148px;
    height: 53px;
    color: #ffffff;
    background-color: #007405;
}

/* CLASSES REUTILIZÁVEIS */
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

/* CENA */
body {
    width: 100%;
    height: 100vh;

    background: linear-gradient(#87ceeb, #e0f6ff);
    border-bottom: 30px solid #007405;

    overflow: hidden;
}

/* VISÃO DO MENU */
#visaoMenu {
    gap: 130px;
    flex-direction: column;

    display: none; /* OCULTANDO TEMPORARIAMENTE */
}

/* VISÃO DO JOGO */
#spriteJogador {
    position: absolute;
    bottom: 30px;
    left: 100px;
}

#spriteCano {
    position: absolute;
    bottom: 30px;
}

#spriteNuvems {
    position: absolute;
    top: 50px;
}

#visaoJogo {
    display: none;
}

/* VISAO GAME OVER */
#visaoGameOver {
    /* MOSTRANDO TEPORARIAMENTE */
    /* display: none; */
    gap: 20px;
}

#imagemGameOver {
    margin-bottom: 100px;
}
